@import "tailwindcss";

.milkdown {
  @apply bg-slate-50 px-2 py-4 m-5 border rounded;
}

.editor {
  @apply mx-auto;
}

.insert-link-button {
  @apply w-12 h-12 mx-5 mt-2 p-2 bg-blue-100 rounded-full hover:bg-blue-400;
}

milkdown-link-preview {
  @apply shadow overflow-hidden rounded absolute;

  &[data-show='false'] {
    @apply hidden;
  }

  & > .link-preview {
    @apply bg-blue-50 flex justify-center gap-2 p-2 cursor-pointer h-10;

    & > .link-icon {
      @apply flex items-center justify-center;
      & > svg {
        @apply w-3.5 h-3.5;
      }
    }

    & > .link-display {
      width: 240px;
      line-height: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }

    & > .button {
      @apply flex items-center justify-center p-1 rounded-full;
      & > svg {
        @apply w-3.5 h-3.5;
      }
      &:hover {
        @apply bg-blue-400;
      }
    }
  }
}

milkdown-link-edit {
  @apply shadow overflow-hidden rounded absolute;
  &[data-show='false'] {
    @apply hidden;
  }
  & > .link-edit {
    @apply bg-blue-50 h-10 flex justify-center gap-2 px-3 py-2;

    & > .input-area {
      @apply outline-none bg-transparent w-52 text-sm;
    }

    & > .button {
      @apply cursor-pointer rounded text-sm p-1 flex items-center;
      &:hover {
        @apply bg-blue-400;
      }
      &.hidden {
        @apply invisible pointer-events-none;
      }
    }
  }
}
