.insert-link-button {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem 1.25rem 0;
  padding: 0.5rem;
  background-color: rgb(219, 234, 254);
  border-radius: 9999px;
}

.insert-link-button:hover {
  background-color: rgb(96, 165, 250);
}

milkdown-link-preview {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
  overflow: hidden;
  border-radius: 0.25rem;
  position: absolute;
}

milkdown-link-preview[data-show='false'] {
  display: none;
}

milkdown-link-preview > .link-preview {
  background-color: rgb(239, 246, 255);
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  height: 2.5rem;
}

milkdown-link-preview > .link-preview > .link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

milkdown-link-preview > .link-preview > .link-icon > svg {
  width: 0.875rem;
  height: 0.875rem;
}

milkdown-link-preview > .link-preview > .link-display {
  width: 240px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

milkdown-link-preview > .link-preview > .link-display:hover {
  text-decoration: underline;
}

milkdown-link-preview > .link-preview > .button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border-radius: 9999px;
}

milkdown-link-preview > .link-preview > .button > svg {
  width: 0.875rem;
  height: 0.875rem;
}

milkdown-link-preview > .link-preview > .button:hover {
  background-color: rgb(96, 165, 250);
}

milkdown-link-edit {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
  overflow: hidden;
  border-radius: 0.25rem;
  position: absolute;
}

milkdown-link-edit[data-show='false'] {
  display: none;
}

milkdown-link-edit > .link-edit {
  background-color: rgb(239, 246, 255);
  height: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
}

milkdown-link-edit > .link-edit > .input-area {
  outline: none;
  background-color: transparent;
  width: 13rem;
  font-size: 0.875rem;
}

milkdown-link-edit > .link-edit > .button {
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
}

milkdown-link-edit > .link-edit > .button:hover {
  background-color: rgb(96, 165, 250);
}

milkdown-link-edit > .link-edit > .button.hidden {
  visibility: hidden;
  pointer-events: none;
}
