@tailwind base;
@tailwind components;
@tailwind utilities;

.milkdown {
  @apply bg-slate-50 px-2 py-4 m-5 border rounded;
}

iframe {
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 720px;
    width: 100%;
    height: 560px;
}

.editor {
  @apply mx-auto;
}
